th
{background-color : black; 
color:white;
    text-transform: full-width;
    cursor: pointer;
    font-size: 50px
}
th:hover{
    background-color:greenyellow;
    font-size: 100px
}
tr,td,table{
        border:solid 2px;
   
    font-size: 60px
}

span{
    font-size: 30px;
    color:green;
        cursor:pointer;
}
span:hover{
font-size: 50px;
color: red;
}
#firstspan{
    color:pink;
}
.group{
color:#ffff00;
}
#secondspan{
    color:red;
}
