<!doctype html>
   <html>
       <head>
           <title> accordil contactlist</title>
           <link rel='stylesheet' href="../node_modules/jquery-ui-dist/jquery-ui.css">
           <link rel ="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
           

       </head>
       <body>
           <div id="accordion">
  <h3>conatctInfo</h3>
  <div>
    <h1> ContactInfo</h1>
        <form name='Contact list' id="contactInfo">
            <table class="table table-hover">
            <div class="row">
               <div class="col-md-2"> First Name</div>
                <div class="col-md-3"> <input type="text" class="form-control" name="firstName" id="firstName"></div>
                </div>
            
            <div class="row">
               <div class="col-md-2"> Last Name</div>
                <div class="col-md-3"> <input type="text" class="form-control" name="lastname" id="lastname"></div>
                </div>
            <div class="row">
                <div class="col-md-2"> Contact# </div>
                <div class="col-md-3"> <input type="number" class="form-control" name="Contact" id="contact" ></div>
                
                </div>
           <div class="row">
               <div class="col-md-2">Email</div>
                <div class="col-md-3"> <input type="text" class="form-control" name="email" id="email"></div>
                </div>
             <button class="btn btn-success" id="submit">add</button>
                
                
                
            </table>
        </form>
  </div>
  <h3>displayContactInfo</h3>
  <div>
  
         <div id="results">
                <table class="table" id="resultTbl">
                <caption> hi results</caption>
                <thead>
                    <tr>
                    <th> First Name</th>
                    <th> Last Name</th>
                    <th> Contact#</th>
                    <th> Email</th>
                    </tr>
                    </thead>
                <tbody> 
                    
                    </tbody>
                </table>
            </div>
  </div>
  <!--<h3>Section 3</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>-->
      
           </div>
      
       
       </body>
       <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
       <script type="text/javascript" src="../scripts/append.js"></script>
       <script type="text/javascript" src="../scripts/events.js"></script>
       
      
           <script type="text/javascript" src="../node_modules/jquery-ui-dist/jquery-ui.js"></script>
           <script type="text/javascript" src="../node_modules/bootstrap/js/"></script>
              <script type="text/javascript" src=../scripts/tab.js></script>
<!-->
       <script>
       $(function(){
       $("#datepicker").datepicker();
       });
           </script>
       <script>
       $( function() {
    $( "#tabs" ).tabs();
  } );
           </script>
<!-->
</html>