<!doctype html>
<html>


<head>
    <title>calaculator</title>
    <link rel='stylesheet' href='../style/style.css'>
    </head>
    
    <body>
<!--    <h1> check your console</h1>-->
      <div id="add"></div>
        <div id="substract"></div>
        <div id="multiply"></div>
        <div id="divid"></div>
        <form>
            enter first number<input type="text" id="num1"><br>
            enter a second number<input type="text" id="num2"><br>
            <button id ="submit">calculate</button>
        </form>
        <div id="result"></div>

        
    </body>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../scripts/caculator.js"></script>
     <script type="text/javascript" src="../scripts/jquerycalculator.js"></script>
 </html>