<!doctype htm>
<html>
    <head>
    
        <title>getform</title>
        <script type="text/javascript" src="../scripts/process.js"></script>
    </head>
    
  <body>
      <form name="getForm" method="GET">
      <table>
      <tr>
          <td>first name</td>
          <td><input type="text" name="firstName" id="firstName" value="" placeholder="enter firstname"  /></td>
          </tr>
          <tr>
               <td>last name</td>
              <td><input type="text" name="flatname" id="lastName" value="" placeholder="enter lastname"/></td>
          
          </tr>
          <tr>
          <td> address</td>
              <td><input type="text" name="address" id="address" value=""placeholder="enter address"/></td>
          
          </tr>
      <tr>
          <td> password</td>
          <td><input type="password" name="firstName" id="firstName" value=""plalceholder="enter password"/></td>
          </tr>
          
          <tr>
              <td>Gender</td>
              <td><input type="radio" name="gender" value="Male" id="genMale">Male</td>
              <td><input type="radio" name="gender" value="Female" id="Female">Female</td>
              <td><input type="radio" name="gender" value="Other" id="Other">Other</td>
              
          </tr>
             
            
          <tr>
              <td>Car</td>
              <td><input type="checkbox" name="Toyota" value="Toyota" id="Toyota">Toyota</td>
              <td><input type="checkbox" name="Nissan" value="Nissan" id="Nissan">Nissan</td>
              <td><input type="checkbox" name="BMW" value="BMW" id="BMW">BMW</td>
              <td><input type="checkbox" name="Honda" value="Honda" id="Honda">Honda</td>
          </tr>
          <tr>
              <td>countries</td>
              <td><select name="countries" id="contries">
                  <option value="1">Nepal</option>
                  <option value="2">USA</option>
                  <option value="3">Algeria</option>
                  </select>
              </td>
          
          </tr>
      
       <tr>
                  <td colspan="2"><input type="Submit" value="Submit" onClick="processForm()"></td>
          
          </tr>
         
      </table>
    </form>
      
    <div id="result">results will be here</div>
    
    
    
    
    
    
    
    
    </body> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </html>