<!doctype html>
<html>
    
    <head>
        <title>firstpage</title>
<!--        <link rel='stylesheet' href='/style/style.css'>-->
        <link rel='stylesheet' href='../style/style.css'>
        <style>
            h2,h3,h4,h5,h6{
                color:blue;
            }
            h3{
                cursor:pointer;
            }
        </style>
    </head>
    
    <body>
        <h1 style="color:red">header</h1>
        <h2>header</h2>
        <h3>header</h3>
        <h4>header</h4>
        <h5>header</h5>
        <h6 class='group'>header</h6>
    
        <span>Hello World</span><br>
        <span>Good morning</span><br>
        <span> hola amigo</span><br>
    <span id='firstspan'>with id</span><br>
        <span class='group' id='secondspan'>second id </span><br>
        <span class='group'>Group</span><br>
    
    
    </body>
    
</html>