<!doctype htm>
<html>
    <head>
        <title> contacte list</title>
        
    </head>
    <body>
        <h1> contact list</h1>
         <form name="contactinformation">
        <table class= "table table-hover">
            <tr>
      
   
            <th> First name</th>
                <td><input type="text" name="firstNmae"
                id="firstName" required>
                                          </td>
            </tr>
            <tr>
                <th> lastname</th>
                <td><td><input type="text" name="lastname"
                id="lastname" required>
                </td>
               
            </tr>
            <tr>
                <th> Phone</th>
                <td><input type="text" name="phone"
                id="phone" required></td>
            </tr>
            <tr>
                <th>email</th>
                <td>
                <<td><input type="text" name="email"
                id="email" required></td>
            </tr>
                     <tr>
                         <td rowspan="2">
                         <button id="add"class="btn-primary btn-lg"
                                
                         </td>
            </tr>                  
                                                         
    </body>