<!doctype htm>
<html>
<head>
<title>gitform</title>
    </head>
    
  <body>
      <form name="getForm" method="POST">
      <table>
      <tr>
          <td>first name</td>
          <td><input type="text" name="firstName" id="firstName" value=""/></td>
          </tr>
          <tr>
               <td>last name</td>
              <td><input type="text" name="flatname" id="lastname" value=""/></td>
          
          </tr>
          <tr>
          <td> address</td>
              <td><input type="text" name="address" id="adress" value=""/></td>
          
          </tr>
      <tr>
          <td> password</td>
          <td><input type="password" name="firstName" id="firstName" value=""/></td>
          </tr>
          <tr><td colspan="2"><input type="Submit" value="Submit"></td>
          
          </tr>
      
      
      
      
      
      
      </table>
    </form>
    
    
    
    
    
    
    
    
    
    </body> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </html>