<!doctype htm>
<htmal>
<head>
    <h1> ishak debiche</h1>
   <title>assignment</title>
   <link rel='stylesheet' href='../style/style.css'>
</head> 
    <body>
     <table>
     <thead>
                   <tr> </tr>
                   <th> link </th>
                   <th> description</th>
                   
              
    </thead>
          
    <tbody>
          <tr>
            <td> <a href="index.html">index</a></td>
              <td>done</td>
        
              
          </tr>
          <tr>
              <td><a href="list.html">list</a></td>
              <td> we donr</td>
              
         </tr>
         <tr>
                <td> <a href="tables.html">tables</a></td>
                <td> we didi</td>
                
         </tr>
          
          

    </tbody>
    
   
    
    </table>

    
    
    
    
    </body>
    
    
    
    
    
    
  
    
    
    
    