<!doctype htm>
<htmal>
<head>
        <title>pageone</title>
         <link rel='stylesheet' href='../style/style.css'>
</head> 
    
<body>
      <table>
     <thead>
                   <tr> </tr>
                   <th> first name </th>
                   <th> last name</th>
                   <th> address</th>
              
    </thead>
          
    <tbody>
          <tr>
              <td>john </td>
              <td>doe</td>
              <td> Arlington</td>
          </tr>
          <tr>
              <td>george</td>
              <td> washington</td>
              <td>Boston</td>
         </tr>
         <tr>
                <td> Cisar</td>
                <td>George</td>
                <td> Irving</td>
         </tr>
          
          

    </tbody>
    
   
    
    </table>

<h1>links</h1>
    <a href="http://www.w3schools.com/">w3school</a>
    <a href="http://www.w3schools.com/"target="_blank"></a>
    <a href="index.html">inside folder </a>
   


</body>



</htmal>